body {
  background-color: black;
  color: white;
  font-family: roboto, sans-serif;
}
#topBar {
  background-color: black;
  height: 45px;
}

#selectors {
  color: white;
  font-family: roboto, sans-serif;
  padding-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

#topAlfix {
  color: red;
}

#content {
  background-image: url(img/cover.jpg);
  min-height: 550px;
  background-size: cover;
}

.col-5 {
  padding-top: 225px;
}

#series {
  color: rgb(207, 204, 204);
  font-weight: bold;
  letter-spacing: 5px;
}

.topTen {
  height: 25px;
}
#number2 {
  padding-left: 20px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

#top {
  margin-left: 20px;
}

h5 {
  margin-top: 10px;
}

#play {
  background: white;
  color: black;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  padding: 5px 20px 5px 20px;
}
#moreInfo {
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  background: rgba(120, 120, 120, 0.8);
  padding: 5px 20px 5px 20px;
}
#buttonRow span {
  vertical-align: sub;
  margin-right: 7px;
}

#ratingCol {
  margin-top: 450px;
}
.refresh {
  border: none;
  color: grey;
  background-color: rgba(0, 0, 0, 0);
}

#rating {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 20px 5px 20px;
  border-left: 2px solid white;
}

button span {
  vertical-align: auto;
}
